# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/

.idea/

# Yarn PnP
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
